<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
    	<!-- Do NOT use the 'BATCH' mode here for defaultExecutorType, to avoid return negative
    		value for the affected rows count.
    		If we want to use the 'BATCH' mode, we may need to manually code there. -->
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="mapUnderscoreToCamelCase" value="TRUE"/>

        <!--<setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="enhancementEnabled" value="false"/>
        <setting name="defaultStatementTimeout" value="25000"/>-->
    </settings>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/test"/>
				<property name="username" value="root"/>
				<property name="password" value="123456"/>
			</dataSource>
		</environment>
		<environment id="uat">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/test"/>
				<property name="username" value="root"/>
				<property name="password" value="123456"/>
				<property name="poolMaximumActiveConnections" value="10"/>
				<property name="poolMaximumIdleConnections" value="10"/>
				<!--<property name="poolMaximumCheckoutTime" value="20000"/>
				<property name="poolTimeToWait" value="20000"/>
				<property name="poolPingQuery" value="20000"/>
				<property name="poolPingEnabled" value="false"/>
				<property name="poolPingConnectionsNotUsedFor" value="5"/>-->
			</dataSource>
		</environment>
		<environment id="prod">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/test"/>
				<property name="username" value="root"/>
				<property name="password" value="123456"/>
			</dataSource>
		</environment>
	</environments>

	<typeAliases>
		<!-- We should only define freqently-used types here. Don't need to define all types here. -->
		<typeAlias type="com.lex.showcase.mybatis.User" alias="User"/>
		<typeAlias type="com.lex.showcase.mybatis.Group" alias="Group"/>
	</typeAliases>

	<typeHandlers>
		<!-- 
		<typeHandler handler="com.lex.showcase.common.mybatis.type_handler.CustomerDateHandler" javaType="javax.xml.datatype.XMLGregorianCalendar"/>
		<typeHandler handler="com.lex.showcase.common.mybatis.type_handler.ActiveOrInactiveEnumHandler" javaType="com.lex.showcase.common.type.ActiveOrInactiveEnum"/>
		 -->
	</typeHandlers>

	<plugins>
		<plugin interceptor="com.lex.showcase.common.mybatis.plugin.SqlPrettyPrinter">
			<property name="someProperty" value="100"/>
		</plugin>
	</plugins>

	<!--数据源配置
	<environments default="development">
		<environment id="development">
			<transactionManager type="jdbc" />
			<dataSource type="POOLED">
				<property name="driver" value="org.postgresql.Driver" />
				<property name="url" value="jdbc:postgresql://localhost:5432/showcase" />
				<property name="username" value="postgres" />
				<property name="password" value="postgres" />
			</dataSource>
		</environment>
	</environments> -->
	
		<!--userMapper.xml装载进来  同等于把“dao”的实现装载进来
	<mappers>
		<mapper resource="mapper/UserMapper.xml" />
		<mapper resource="mapper/GroupMapper.xml" />
	</mappers> -->
</configuration> 